<a href="https://colab.research.google.com/github/keerthana2819/Practice/blob/main/Data_Handling_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [24, 27, 22, 32],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:\n", df)

# Filter data where Age is greater than 25
print("\nFiltered Data (Age > 25):\n", df[df["Age"] > 25])

# Add a new column
df["Salary"] = [50000, 60000, 45000, 70000]
print("\nDataFrame with Salary column:\n", df)

DataFrame:
       Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

Filtered Data (Age > 25):
     Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston

DataFrame with Salary column:
       Name  Age         City  Salary
0    Alice   24     New York   50000
1      Bob   27  Los Angeles   60000
2  Charlie   22      Chicago   45000
3    David   32      Houston   70000